@media(min-width:700px){

}

body {
  background-color: LightGray;
  font-family: "Arial";
}

.navbar {
  display: flex;
}

.navbar div {
  border: 1px black solid;
  padding: .1%;
  background-color: gray;
  font-size: 30px;
}

.nav-icon img {
    height: 40px;
    width: auto;
    align-self: flex-end;
    padding: 5px;
    border-radius: 10px;
}

.admin {
  background-color: gray;
  color: black;
  display: flex;
  padding: 10px;
  border: 1px black solid;
  align: right;
}

.admin div {
  display: flex;
  text-align: right;
  margin-left: auto;
}

.learn {
  flex: 1;
}

.read {
  flex: 1;
}

.watch {
  flex: 1;
}

.nav-icon {
  flex: 2;
}

.navbar i {
  font-size: 15px;
  padding-right: 7px;
}

.navbar div.hover {
  background-color: #ddd;
  color: black;
}

.navbar div.active {
  background-color: #4CAF50;
  color: white;
}

.nav-icon {
  text-align: right;
  font-size: 30px;
}

.character-info {
  padding: 5px;
  box-shadow: none;
}

character-info div {
  padding: 5px;
  box-shadow: none;
  margin: 0;
}
.character-profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.character-profiles div {
  background-color: white;
  justify-content: space-between;
  margin: 1%;
  flex-basis: 20%;
  flex-grow: 1;
  box-shadow: 0px 0px 10px black;
}

.character-pictures {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: white;
  text-shadow: none;
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.material-icons {
  color: white;
  text-shadow: 0px 0px 10px black
}

.views {
  align-self: flex-end;
  padding: 2%;
  color: white;
  text-shadow: 0px 0px 10px black
}

.user-input {
  margin: 100%;
  width: 50px;
  flex-grow: 1;
  font-size: 15px;
  background-color: LightGray;
  color: DarkGray;
  border: none;
}

.iron-fist .character-pictures {
  background-image: url(assets/mumm-ra.jpg);
  margin: 0;
  box-shadow: none;
}

.iron-fist .character-info {
margin: 0;
padding: 5%;
box-shadow: none;
}

.lion-o .character-profiles {
  background-image: url(assets/cheetara.jpg)
  box-shadow: none;
  margin: 0;
  padding: 5%;
}

.lion-o .character-info {
margin: 0;
padding: 5%;
box-shadow: none;
}

.she-hulk .character-pictures {
  background-image: url(assets/slithe.jpg);
  box-shadow: none;
  margin: 0;
}

.she-hulk .character-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}

.silver-sable .character-pictures {
  background-image: url(assets/jackalman.jpg);
  box-shadow: none;
  margin: 0;
}

.silver-sable .character-info {
  margin: 0;
  padding: 5%;
  box-shadow: none;
}
